{% extends 'base.html' %}
{% block content %}
        <br>
        <br>
        <br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
        <h2 style="text-align: center">Ask a Question</h2>
        <br>
            <Form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="Add">
            </Form>
    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}