
{% extends 'dashboard/base.html' %}
{% block content %}

<br>
    <br>
    <br>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h3>{{question.question_text}}</h3>
        <br>
        <br>
        <br>
        {% for answer,comments in final_answer.items %}
                <div>
                user: {{ answer.user.username }}
                <br>
                answer: {{answer.answer_text}}
                <br>
                </div>
                <br>
                <div>
                      votes: <label id="votes-{{ answer.id }}">{{comments.1}}</label>

                    {% if request.user.id is  None %}
                        <br>
                        Login to vote
                     {% else %}
                        <input type="button" name="upvote" value="upvote" onclick=vote({{request.user.id}},{{answer.id}})>
                    {% endif %}
                </div>
                <div>
                    {% for comm in comments.0 %}
                        <br>
                            {% if comm.user == request.user %}
                                user : me
                            {% else %}
                                user: {{ comm.user.username }}
                            {% endif %}
                            comments: {{ comm.comment_text }}
                    {% endfor %}
            </div>


            <Form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="text" style="visibility: hidden" name="answer_id" value="{{ answer.id }}">
                    {% if request.user.id is  None %}
                        <br>
                        Login to Comment
                     {% else %}
                <input type="submit" name="comment" value="comment">
            {% endif %}
            </Form>

            <br>
        {% endfor %}

    </div>
    <div class="col">
        {% if editable == True %}
            <a href="{{ question.id }}/edit/">Edit your answer</a>
            <br>
        {% else %}
            <a href="{{ question.id }}/answer/">Add your answer</a>
        {% endif %}
    <br>
    <br>
    {% if question.user == request.user %}
        <a href={% url 'delete_question' question.id %} onclick="return confirm('Are you sure you want to delete this item?');">Delete Question</a>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}