{% block content %}
<nav class="navbar navbar-expand-sm navbar-light bg-info">
  <a class="navbar-brand" style="color:#f8f9fa" href={% url 'index' %}> Poor Man's Quora </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<a class="float-right" style="position: relative; right: 0; color:#f8f9fa; padding-right: 20px; " href="{% url 'add_question' %}">Add a question</a>
<a class="float-right" style="position: absolute; right: 0; color:#f8f9fa; padding-right: 20px; " href={% url 'logout' %}>Logout</a>

</nav>
{% endblock %}