
{% extends 'base.html' %}
{% block content %}

<br>
    <br>
    <br>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h3>{{question.question_text}}</h3>
        <br>
        <br>
        <br>
        {% for answer in answers %}
            <p>
                user: {{ answer.user.username }}
                <br>
                answer: {{answer.answer_text}}

            </p>

            <Form method="POST" action="">
                {% csrf_token %}
                <input type="submit" name="upvote" value="upvote">
            </Form>

            <br>
        {% endfor %}

    </div>
    <div class="col">
        <a href="{{ question.id }}/answer/">Add your answer</a>
    </div>
  </div>
</div>

{% endblock %}